<div *ngFor="let course of courses" class="card" style="width: 50rem">
  <div class="card-body">
    <h5 class="card-title">
      {{ course.name }}
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ course.language.name }} - {{ course.lessons.length }} Lessons
    </h6>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <p *ngFor="let lesson of course.lessons">
      Lesson {{ lesson.number }} - {{ lesson.lessonStatus | lessonStatus }}
    </p>
    <button class="btn btn-success" routerLink="/courses/{{ course.id }}">
      Go To Course
    </button>
  </div>
</div>
